.layout {
    min-height         : 100%;
    background         : linear-gradient(#5AADFB, #EA8889);
    display            : flex;
    flex-direction     : column;
    background-position: center center;
    background-size    : cover;

    >header {
        height  : 100px;
        display : flex;
        position: relative;

        >.edit {
            position: absolute;
            left    : 20px;
            top     : 20px;
            color   : #fff;
            display : none;

            &.show {
                display          : block;
                -webkit-animation: FadeInAnimation 1s;
                -moz-animation   : FadeInAnimation 1s;
                animation        : FadeInAnimation 1s;
            }

            @media @phone {
                top: 30px;
            }
        }

        >.bookmark {
            position: absolute;
            left    : 20px;
            top     : 20px;
            color   : #fff;
            display : none;

            &.show {
                display          : block;
                -webkit-animation: FadeInAnimation 1s;
                -moz-animation   : FadeInAnimation 1s;
                animation        : FadeInAnimation 1s;
            }

            &.bookmarked {
                color: #55ffb6;
            }

            @media @phone {
                top: 30px;
            }
        }

        >.card {
            position: absolute;
            right   : 20px;
            top     : 20px;
            color   : #fff;

            @media @phone {
                top: 30px;
            }
        }

        >.menu {
            flex-grow      : 1;
            display        : flex;
            justify-content: center;
            align-items    : center;
            gap            : 20px;
            padding-bottom : 20px;

            @media @phone {
                gap: 10px;
            }

            >a {
                color        : #fff;
                padding      : 6px 0;
                width        : 100px;
                border-radius: 16px;
                text-align   : center;

                @media @phone {
                    width: 60px;
                }

                &.long {
                    width: 100px;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }

                &.on {
                    border: 1px solid #fff;
                }
            }
        }
    }

    >main {
        flex-grow: 1;

        >.profile {
            width : 320px;
            margin: auto;

            >.pfp-container {
                width : 78px;
                margin: auto;
            }

            >.name {
                margin-top      : 10px;
                display         : block;
                width           : 100%;
                background-color: transparent;
                font-family     : OCRAStd;
                font-size       : 16px;
                text-align      : center;
            }

            >.introduce {
                margin-top      : 10px;
                display         : block;
                width           : 100%;
                background-color: transparent;
                font-family     : ProximaNovaCond-Regular;
                font-size       : 16px;
                text-align      : center;
                line-height     : 20px;
            }

            >.request-soulink-button {
                width        : 180px;
                margin       : auto;
                margin-top   : 20px;
                display      : block;
                border-radius: 18px;
                border       : solid 2px #55ffb6;
                line-height  : 36px;
                text-align   : center;
                color        : #55ffb6;
            }
        }

        >.content {
            margin-top: 30px;
        }
    }

    >footer {
        height     : 150px;
        padding-top: 50px;
        text-align : center;
    }
}