@font-face {
    font-family: ProximaNovaCond-Light;
    src        : url("/fonts/ProximaNovaCond-Light.woff2") format("woff2");
}

@font-face {
    font-family: OCRAStd;
    src        : url("/fonts/OCRAStd-Regular.woff2") format("woff2");
}