/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  font-family: ProximaNovaCond-Regular;
  src: url("/fonts/ProximaNovaCond-Regular.woff2") format("woff2");
}
@font-face {
  font-family: OCRAStd;
  src: url("/fonts/OCRAStd-Regular.woff2") format("woff2");
}
html,
body {
  font-family: ProximaNovaCond-Regular;
}
.nft-image > .media {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pfp > .media {
  -webkit-mask-image: url(/images/pfp-mask.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: url(/images/pfp-mask.png);
  mask-repeat: no-repeat;
  mask-size: cover;
}
.link-item > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(2px);
  -moz-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  font-family: ProximaNovaCond-Regular;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
.soul-view {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(#5AADFB, #EA8889);
}
.soul-view > .background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.soul-view > .pfp {
  margin: auto;
  margin-top: 60px;
  width: 78px;
  height: 78px;
}
.soul-view > .name {
  margin: auto;
  margin-top: 10px;
  display: block;
  width: 320px;
  background-color: transparent;
  font-family: OCRAStd;
  font-size: 16px;
  text-align: center;
}
.soul-view > .introduce {
  margin: auto;
  margin-top: 10px;
  display: block;
  width: 320px;
  background-color: transparent;
  font-family: ProximaNovaCond-Regular;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}
.soul-view > .link-list {
  margin: auto;
  margin-top: 30px;
  width: 220px;
}

