/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  font-family: ProximaNovaCond-Regular;
  src: url("/fonts/ProximaNovaCond-Regular.woff2") format("woff2");
}
@font-face {
  font-family: OCRAStd;
  src: url("/fonts/OCRAStd-Regular.woff2") format("woff2");
}
@keyframes FadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes FadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes FadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes LoadingBarAnimation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}
@-webkit-keyframes LoadingBarAnimation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}
@-moz-keyframes LoadingBarAnimation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}
@keyframes LoadingImageAnimation {
  0% {
    background-position: 0% 200%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-webkit-keyframes LoadingImageAnimation {
  0% {
    background-position: 0% 200%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-moz-keyframes LoadingImageAnimation {
  0% {
    background-position: 0% 200%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes LoadingSoulsAnimation1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes LoadingSoulsAnimation2 {
  0% {
    transform: scale(0.2);
    left: 0%;
  }
  50% {
    transform: scale(1);
    left: 50%;
  }
  100% {
    transform: scale(0.2);
    left: 100%;
  }
}
html,
body {
  font-family: ProximaNovaCond-Regular;
}
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#5AADFB, #EA8889);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.background-container > .nft-display {
  width: 100%;
  height: 100%;
}
.background-container.loading {
  background: linear-gradient(0, #5AADFB, #EA8889, #5AADFB, #EA8889, #5AADFB);
  background-size: 200% 200%;
  -webkit-animation: LoadingImageAnimation 10s linear infinite;
  -moz-animation: LoadingImageAnimation 10s linear infinite;
  animation: LoadingImageAnimation 10s linear infinite;
}
.intro-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(#5AADFB, #EA8889);
  display: flex;
  flex-direction: column;
}
.intro-view > header {
  height: 150px;
  position: relative;
}
@media only screen and (max-width: 859px) {
  .intro-view > header {
    height: 100px;
  }
}
.intro-view > header > a {
  position: absolute;
  top: 20px;
  z-index: 999;
  color: #fff;
}
.intro-view > header > a:hover,
.intro-view > header > a.on {
  color: #55ffb6;
}
.intro-view > header > .bookmarks {
  left: 20px;
}
.intro-view > header > .galaxy {
  right: 20px;
}
.intro-view > main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}
@media only screen and (min-width: 860px) and (max-width: 959px) {
  .intro-view > main {
    gap: 50px;
  }
}
@media only screen and (max-width: 859px) {
  .intro-view > main {
    display: block;
    width: 320px;
    margin: auto;
  }
  .intro-view > main > :nth-child(2) {
    margin-top: 28px;
  }
}
.intro-view > main > :nth-child(1) {
  position: relative;
  font-family: OCRAStd;
  padding-top: 10px;
}
.intro-view > main > :nth-child(1) > h2 {
  position: absolute;
  top: 0;
  color: #55ffb6;
  font-size: 22px;
}
.intro-view > main > :nth-child(1) > h1 {
  position: absolute;
  top: 30px;
  font-size: 38px;
  color: #fff;
}
@media only screen and (max-width: 859px) {
  .intro-view > main > :nth-child(1) {
    padding-top: 30px;
    text-align: right;
  }
  .intro-view > main > :nth-child(1) > img {
    width: 220px;
  }
}
@media only screen and (min-width: 860px) {
  .intro-view > main > :nth-child(2) {
    min-width: 420px;
  }
}
.intro-view > main > :nth-child(2) > p {
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 25px;
}
@media only screen and (max-width: 859px) {
  .intro-view > main > :nth-child(2) > p {
    font-size: 18px;
    line-height: 28px;
  }
}
.intro-view > main > :nth-child(2) > p > b {
  font-weight: bold;
  color: #fff;
}
.intro-view > main > :nth-child(2) > p > strong {
  font-weight: bold;
  color: #55ffb6;
}
.intro-view > main > :nth-child(2) > h6 {
  font-family: OCRAStd;
  font-size: 38px;
  color: #fff;
}
.intro-view > main > :nth-child(2) > h6 > b {
  color: #55ffb6;
}
.intro-view > main > :nth-child(2) > h6.mobile {
  font-size: 14px;
  margin-top: 50px;
  text-align: center;
}
@media only screen and (min-width: 860px) {
  .intro-view > main > :nth-child(2) > h6.mobile {
    display: none;
  }
}
.intro-view > main > :nth-child(2) > h6.no-mobile {
  margin-top: 35px;
}
@media only screen and (max-width: 859px) {
  .intro-view > main > :nth-child(2) > h6.no-mobile {
    display: none;
  }
}
@media only screen and (min-width: 860px) and (max-width: 959px) {
  .intro-view > main > :nth-child(2) > h6.no-mobile {
    margin-top: 15px;
  }
}
.intro-view > main > :nth-child(2) > .button-container:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.intro-view > main > :nth-child(2) > .button-container > a {
  float: left;
  margin-right: 15px;
  display: block;
  width: 195px;
  height: 44px;
  font-family: OCRAStd;
  font-size: 13px;
  border-radius: 22px;
  border: solid 2px #55ffb6;
  color: #fff;
  text-align: center;
  line-height: 44px;
}
.intro-view > main > :nth-child(2) > .button-container > a > b {
  color: #55ffb6;
}
@media only screen and (max-width: 859px) {
  .intro-view > main > :nth-child(2) > .button-container > a {
    float: none;
    margin: auto;
    margin-top: 12px;
  }
}
.intro-view > footer {
  height: 200px;
  padding-top: 50px;
}
.intro-view > footer > img {
  display: block;
  margin: auto;
}
.intro-view > footer > .sns {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.intro-view > footer > .sns > a {
  color: #000;
  text-decoration: none;
}
.mint-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(#5AADFB, #EA8889);
  display: flex;
  flex-direction: column;
  background-position: center center;
  background-size: cover;
}
.mint-view > header {
  height: 100px;
}
.mint-view > main {
  width: 100%;
  max-width: 1088px;
  margin: auto;
  padding-bottom: 66px;
  border-bottom: 6px solid transparent;
  border-image: linear-gradient(to left, #238afb, #f45131, #238afb);
  border-image-slice: 1;
}
.mint-view > main > header {
  padding: 0 9%;
  text-align: justify;
  font-family: OCRAStd;
  font-size: 30px;
  color: #fff;
  border-bottom: 6px solid transparent;
  border-image: linear-gradient(to left, #238afb, #f45131, #238afb);
  border-image-slice: 1;
  height: 50px;
  overflow: hidden;
  margin-bottom: 66px;
}
.mint-view > main > header:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.mint-view > main > section {
  display: flex;
  justify-content: center;
  gap: 105px;
}
@media only screen and (min-width: 860px) and (max-width: 959px) {
  .mint-view > main > section {
    gap: 50px;
  }
}
@media only screen and (max-width: 859px) {
  .mint-view > main > section > img {
    display: none;
  }
}
.mint-view > main > section > section {
  width: 448px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 859px) {
  .mint-view > main > section > section {
    width: 341px;
  }
}
.mint-view > main > section > section > h1 {
  font-family: OCRAStd;
  font-size: 56px;
  color: #fff;
}
.mint-view > main > section > section > h1 > b {
  color: #55ffb6;
}
@media only screen and (max-width: 859px) {
  .mint-view > main > section > section > h1 {
    font-size: 43px;
  }
}
.mint-view > main > section > section > .stepper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #fff;
}
.mint-view > main > section > section > .stepper > .step {
  position: relative;
  padding-top: 12px;
}
.mint-view > main > section > section > .stepper > .step:before {
  content: "";
  position: absolute;
  top: -7.5px;
  width: 13px;
  height: 13px;
  border-radius: 6.5px;
  background-color: #fff;
}
.mint-view > main > section > section > .stepper > .step.on:before {
  background-color: #55ffb6;
}
.mint-view > main > section > section > .info {
  margin-top: 40px;
  margin-bottom: 34px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 859px) {
  .mint-view > main > section > section > .info {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 85px;
  }
}
.mint-view > main > section > section > .info > p {
  padding-left: 22px;
  position: relative;
}
.mint-view > main > section > section > .info > p > span {
  font-family: OCRAStd;
  font-size: 10px;
  color: #fff;
}
.mint-view > main > section > section > .info > p > span > b {
  font-size: 20px;
}
.mint-view > main > section > section > .info > p:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 13px;
  height: 13px;
  border-radius: 6.5px;
  background-color: #55ffb6;
}
.mint-view > main > section > section > a.mint {
  display: block;
  width: 211px;
  height: 48px;
  font-family: OCRAStd;
  font-size: 14px;
  border-radius: 22px;
  border: solid 2px #55ffb6;
  color: #55ffb6;
  text-align: center;
  line-height: 48px;
}
@media only screen and (max-width: 859px) {
  .mint-view > main > section > section > a.mint {
    margin: auto;
  }
}
.mint-view > main > section > section > p {
  margin-top: 24px;
  font-family: ProximaNovaCond-Regular;
  color: #fff;
}
@media only screen and (max-width: 859px) {
  .mint-view > main > section > section > p {
    text-align: center;
  }
}
.mint-view > footer {
  height: 150px;
  padding-top: 50px;
  text-align: center;
}
.mint-success-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: radial-gradient(circle at center, #EA8889, #5AADFB);
  display: flex;
  flex-direction: column;
  background-position: center center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.mint-success-view > img {
  -webkit-animation: FadeInAnimation 1s;
  -moz-animation: FadeInAnimation 1s;
  animation: FadeInAnimation 1s;
}
@media only screen and (max-width: 859px) {
  .mint-success-view > img {
    width: 320px;
  }
}
.mint-success-view > p {
  margin-top: 50px;
  font-family: OCRAStd;
  font-size: 16px;
  color: #fff;
  -webkit-animation: FadeInAnimation 1s;
  -moz-animation: FadeInAnimation 1s;
  animation: FadeInAnimation 1s;
}
.mint-success-view > p > b {
  color: #55ffb6;
}
@media only screen and (max-width: 859px) {
  .mint-success-view > p {
    font-size: 12px;
  }
}
.mint-failed-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: radial-gradient(circle at center, #EA8889, #5AADFB);
  display: flex;
  flex-direction: column;
  background-position: center center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.mint-failed-view > img {
  -webkit-animation: FadeInAnimation 1s;
  -moz-animation: FadeInAnimation 1s;
  animation: FadeInAnimation 1s;
}
@media only screen and (max-width: 859px) {
  .mint-failed-view > img {
    width: 320px;
  }
}
.mint-failed-view > p {
  margin-top: 50px;
  font-family: OCRAStd;
  font-size: 16px;
  color: #fff;
  -webkit-animation: FadeInAnimation 1s;
  -moz-animation: FadeInAnimation 1s;
  animation: FadeInAnimation 1s;
}
@media only screen and (max-width: 859px) {
  .mint-failed-view > p {
    font-size: 12px;
  }
}
.layout {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.layout > header {
  height: 100px;
  display: flex;
  position: relative;
}
.layout > header > a {
  position: absolute;
  top: 20px;
  z-index: 999;
  color: #fff;
}
.layout > header > a:hover,
.layout > header > a.on {
  color: #55ffb6;
}
.layout > header > .edit {
  left: 20px;
  display: none;
}
.layout > header > .edit.show {
  display: block;
  -webkit-animation: FadeInAnimation 1s;
  -moz-animation: FadeInAnimation 1s;
  animation: FadeInAnimation 1s;
}
.layout > header > .bookmark {
  left: 20px;
  display: none;
}
.layout > header > .bookmark.show {
  display: block;
  -webkit-animation: FadeInAnimation 1s;
  -moz-animation: FadeInAnimation 1s;
  animation: FadeInAnimation 1s;
}
.layout > header > .bookmark.bookmarked {
  color: #55ffb6;
}
.layout > header > .card {
  right: 20px;
}
.layout > header > .share {
  right: 20px;
}
.layout > header > .menu {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #000;
}
@media only screen and (max-width: 859px) {
  .layout > header > .menu {
    gap: 10px;
  }
}
.layout > header > .menu > .bar {
  position: absolute;
  top: 28px;
  width: 260px;
  margin: auto;
  border-top: 1px solid #fff;
  display: flex;
  justify-content: space-between;
}
.layout > header > .menu > .bar > a {
  margin-top: -13.5px;
  padding: 10px 40px 30px;
}
.layout > header > .menu > .bar > a:first-of-type {
  padding-left: 10px;
  padding-right: 25px;
  margin-left: -10px;
}
.layout > header > .menu > .bar > a:last-of-type {
  padding-left: 25px;
  padding-right: 10px;
  margin-right: -10px;
}
.layout > header > .menu > .bar > a > .dot {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
}
.layout > header > .menu > .bar > a:hover > .dot {
  background-color: #55ffb6;
}
.layout > header > .menu > .bar > a.on > .dot {
  background-color: #55ffb6;
}
@media only screen and (max-width: 859px) {
  .layout > header > .menu > .bar {
    width: 200px;
  }
}
.layout > header > .menu > a {
  padding: 6px 0;
  width: 100px;
  text-align: center;
}
@media only screen and (max-width: 859px) {
  .layout > header > .menu > a {
    width: 60px;
  }
}
.layout > header > .menu > a.long {
  width: 100px;
}
.layout > main {
  flex-grow: 1;
}
.layout > main > .profile {
  width: 320px;
  margin: auto;
}
.layout > main > .profile > .pfp-container {
  width: 78px;
  margin: auto;
}
.layout > main > .profile > .name {
  margin-top: 10px;
  display: block;
  width: 100%;
  background-color: transparent;
  font-family: OCRAStd;
  font-size: 16px;
  text-align: center;
}
.layout > main > .profile > .introduce {
  margin-top: 10px;
  display: block;
  width: 100%;
  background-color: transparent;
  font-family: ProximaNovaCond-Regular;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  margin-bottom: 20px;
}
.layout > main > .profile > .help {
  display: block;
  width: 100%;
  background-color: transparent;
  font-family: ProximaNovaCond-Regular;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}
.layout > main > .profile > .confirm-soulink-button,
.layout > main > .profile > .accept-soulink-button,
.layout > main > .profile > .request-soulink-button {
  width: 180px;
  margin: auto;
  margin-top: 10px;
  display: block;
  border-radius: 18px;
  border: solid 2px #55ffb6;
  line-height: 36px;
  text-align: center;
  color: #55ffb6;
  -webkit-animation: FadeInAnimation 1s;
  -moz-animation: FadeInAnimation 1s;
  animation: FadeInAnimation 1s;
}
.layout > main > .profile > .ignore-soulink-button {
  width: 180px;
  margin: auto;
  margin-top: 20px;
  display: block;
  border-radius: 18px;
  border: solid 2px #fff;
  line-height: 36px;
  text-align: center;
  color: #fff;
  -webkit-animation: FadeInAnimation 1s;
  -moz-animation: FadeInAnimation 1s;
  animation: FadeInAnimation 1s;
}
.layout > main > .content {
  margin-top: 30px;
}
.layout > footer {
  height: 150px;
  padding-top: 50px;
  text-align: center;
}
.bio-links-view > .link-container {
  margin: auto;
  width: 220px;
}
.bio-links-view > .link-container > .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(2px);
  -moz-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  font-family: ProximaNovaCond-Regular;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
.nfts-view > .nft-container {
  margin: auto;
  width: 336px;
  display: grid;
  grid-template-columns: 78px 78px 78px 78px;
  gap: 12px 8px;
}
.nfts-view > .nft-container > .nft {
  font-family: ProximaNovaCond-Regular;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  text-align: center;
}
.nfts-view > .nft-container > .nft > .name {
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nfts-view > .loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  position: relative;
  vertical-align: middle;
  animation: LoadingSoulsAnimation1 1.5s infinite linear;
}
.nfts-view > .loading:before,
.nfts-view > .loading:after {
  content: '';
  margin: -25px 0 0 -25px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: LoadingSoulsAnimation2 1s infinite ease-in-out;
}
.nfts-view > .loading:after {
  animation-direction: reverse;
}
.nfts-view > .load-more {
  width: 180px;
  margin: auto;
  margin-top: 20px;
  display: block;
  border-radius: 18px;
  border: solid 1px #fff;
  line-height: 36px;
  text-align: center;
  color: #fff;
}
.souls-view {
  width: 330px;
  margin: auto;
}
.souls-view > .soul-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.souls-view > .loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  position: relative;
  vertical-align: middle;
  animation: LoadingSoulsAnimation1 1.5s infinite linear;
}
.souls-view > .loading:before,
.souls-view > .loading:after {
  content: '';
  margin: -25px 0 0 -25px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: LoadingSoulsAnimation2 1s infinite ease-in-out;
}
.souls-view > .loading:after {
  animation-direction: reverse;
}
.business-card-view {
  width: 280px;
  margin: auto;
}
.business-card-view > img.qr {
  display: block;
  margin: auto;
  border-radius: 6px;
  width: 279px;
}
.business-card-view > .bookmark {
  display: block;
  margin-top: 35px;
  border-radius: 28px;
  font-family: OCRAStd;
  border: 1px solid #55ffb6;
  color: #55ffb6;
  text-align: center;
  line-height: 56px;
}
.business-card-view > .bookmark.bookmarked {
  border: 1px solid #ccc;
  color: #ccc;
}
.galaxy-view {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, #EA8889, #5AADFB);
  display: flex;
  flex-direction: column;
}
.galaxy-view > header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  font-family: OCRAStd;
  font-size: 16px;
  color: #fff;
  position: relative;
}
.galaxy-view > header > .back {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 999;
  color: #fff;
}
.galaxy-view > header > .back:hover,
.galaxy-view > header > .back.on {
  color: #55ffb6;
}
.galaxy-view > .galaxy-container {
  flex-grow: 1;
}
.bookmarks-view {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(#5AADFB, #EA8889);
}
.bookmarks-view > header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  font-family: OCRAStd;
  font-size: 16px;
  color: #fff;
  position: relative;
}
.bookmarks-view > header > .back {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 999;
  color: #fff;
}
.bookmarks-view > header > .back:hover,
.bookmarks-view > header > .back.on {
  color: #55ffb6;
}
.bookmarks-view > .bookmark-list {
  display: block;
  width: 320px;
  margin: auto;
  padding-bottom: 50px;
}
.bookmarks-view > .bookmark-list > h1 {
  color: #55ffb6;
  text-align: center;
  margin-bottom: 20px;
}
.bookmarks-view > .bookmark-list > .bookmark {
  display: flex;
  gap: 10px;
  align-items: center;
}
.bookmarks-view > .bookmark-list > .bookmark > .pfp {
  flex-grow: 1;
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}
.bookmarks-view > .bookmark-list > .bookmark > .pfp > .name {
  font-family: OCRAStd;
  word-break: break-all;
}
.bookmarks-view > .bookmark-list > .bookmark > a {
  border: 1px solid #fff;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookmarks-view > .bookmark-list > .bookmark > a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.admin-layout {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.admin-layout > header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 0 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 859px) {
  .admin-layout > header {
    gap: 20px;
  }
}
.admin-layout > header > .menu {
  flex-grow: 1;
  height: 100%;
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 859px) {
  .admin-layout > header > .menu {
    gap: 10px;
  }
}
.admin-layout > header > .menu > a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
@media only screen and (max-width: 859px) {
  .admin-layout > header > .menu > a {
    padding: 0 14px;
  }
}
.admin-layout > header > .menu > a:hover {
  background-color: #eee;
}
.admin-layout > header > .menu > a.on {
  border-bottom: 2px solid #000;
}
.admin-layout > header > a.save {
  padding: 12px 20px;
  border-radius: 16px;
  background-color: #ccc;
  color: #000;
}
.admin-layout > header > a.save.on {
  background-color: #55FFB6;
}
.admin-layout > main {
  margin-top: 60px;
  flex-grow: 1;
  position: relative;
  padding-top: 60px;
}
.admin-layout > main > .background {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 999;
  color: #fff;
}
.admin-layout > main > .background:hover,
.admin-layout > main > .background.on {
  color: #55ffb6;
}
.admin-layout > main > .profile {
  width: 320px;
  margin: auto;
}
.admin-layout > main > .profile > .pfp {
  position: relative;
  cursor: pointer;
  width: 78px;
  margin: auto;
}
.admin-layout > main > .profile > .pfp > .pfp-container {
  width: 78px;
  height: 78px;
}
.admin-layout > main > .profile > .pfp > .pfp-container.loading {
  background: linear-gradient(0, #5aadfb, #ff0f34, #5aadfb, #ff0f34, #5aadfb);
  background-size: 200% 200%;
  -webkit-animation: LoadingImageAnimation 2s linear infinite;
  -moz-animation: LoadingImageAnimation 2s linear infinite;
  animation: LoadingImageAnimation 2s linear infinite;
}
.admin-layout > main > .profile > .pfp > .add {
  position: absolute;
  top: 2px;
  right: 2px;
  color: #ff0f34;
  background-color: #fff;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.admin-layout > main > .profile > .name {
  margin-top: 10px;
  display: block;
  width: 100%;
  background-color: transparent;
  font-family: OCRAStd;
  font-size: 16px;
  text-align: center;
}
.admin-layout > main > .profile > textarea {
  margin-top: 10px;
  display: block;
  width: 100%;
  background-color: transparent;
  font-family: ProximaNovaCond-Regular;
  font-size: 16px;
  text-align: center;
  border: none;
  height: 20px;
}
.admin-layout > main > .content {
  margin-top: 20px;
}
.admin-layout > footer {
  height: 150px;
  padding-top: 50px;
  text-align: center;
}
.bio-link-setting-view {
  width: 330px;
  margin: auto;
}
.bio-link-setting-view > .link-container > .link {
  position: relative;
  border: 1px solid #fff;
  width: 330px;
  border-radius: 16px;
  margin-bottom: 10px;
}
.bio-link-setting-view > .link-container > .link > :nth-child(1) {
  display: block;
  width: 100%;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: ProximaNovaCond-Regular;
  border-radius: 16px 16px 0 0;
}
.bio-link-setting-view > .link-container > .link > :nth-child(2) {
  display: block;
  width: 100%;
  background-color: transparent;
  height: 36px;
  color: #fff;
  font-family: OCRAStd;
  font-size: 12px;
  text-align: center;
  border-radius: 0 0 16px 16px;
}
.bio-link-setting-view > .link-container > .link > a.handle {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #fff;
  cursor: move;
}
.bio-link-setting-view > .link-container > .link > a.delete {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
}
.bio-link-setting-view > .bar {
  position: fixed;
  z-index: 999;
  background-color: #4589FF;
  left: -999999px;
  top: -999999px;
}
.bio-link-setting-view > a.add {
  color: #ff0f34;
  background-color: #fff;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  font-size: 15px;
}
.souls-setting-view > .soul-list {
  width: 330px;
  margin: auto;
}
.souls-setting-view > .loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  position: relative;
  vertical-align: middle;
  animation: LoadingSoulsAnimation1 1.5s infinite linear;
}
.souls-setting-view > .loading:before,
.souls-setting-view > .loading:after {
  content: '';
  margin: -25px 0 0 -25px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: LoadingSoulsAnimation2 1s infinite ease-in-out;
}
.souls-setting-view > .loading:after {
  animation-direction: reverse;
}
.appearance-setting-view > .color {
  margin-top: 10px;
  display: block;
  width: 100%;
  background-color: transparent;
  font-family: OCRAStd;
  font-size: 16px;
  text-align: center;
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.alert {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border: 1px solid #fff;
  border-radius: 16px;
}
.alert > p {
  color: #fff;
  background: linear-gradient(rgba(90, 173, 251, 0.6), rgba(234, 136, 137, 0.6));
  border-radius: 16px 16px 0 0;
  text-align: center;
  padding: 15px 0;
}
.alert > a {
  display: block;
  border-top: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 16px 16px;
  text-align: center;
  padding: 15px 0;
}
.select-nft-popup {
  width: 360px;
  margin: auto;
  max-height: 90%;
  border: 1px solid #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}
.select-nft-popup > h1 {
  color: #fff;
  background: linear-gradient(rgba(90, 173, 251, 0.6), rgba(234, 136, 137, 0.6));
  border-radius: 16px 16px 0 0;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #fff;
}
.select-nft-popup > main {
  overflow-y: scroll;
}
.select-nft-popup > main > .nft-container {
  margin: auto;
  width: 344px;
  display: grid;
  grid-template-columns: 86px 86px 86px 86px;
  gap: 4px 0;
  padding: 10px 0;
}
.select-nft-popup > main > .nft-container > .nft {
  font-family: ProximaNovaCond-Regular;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  text-align: center;
  padding: 4px;
}
.select-nft-popup > main > .nft-container > .nft > img,
.select-nft-popup > main > .nft-container > .nft > video {
  display: block;
  width: 78px;
  height: 78px;
  object-fit: cover;
  background-color: #fff;
  border-radius: 8px;
}
.select-nft-popup > main > .nft-container > .nft > .name {
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select-nft-popup > main > .nft-container > .nft.selected {
  background-color: #55ffb6;
  border-radius: 6px;
}
.select-nft-popup > main > .loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  position: relative;
  vertical-align: middle;
  animation: LoadingSoulsAnimation1 1.5s infinite linear;
}
.select-nft-popup > main > .loading:before,
.select-nft-popup > main > .loading:after {
  content: '';
  margin: -25px 0 0 -25px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: LoadingSoulsAnimation2 1s infinite ease-in-out;
}
.select-nft-popup > main > .loading:after {
  animation-direction: reverse;
}
.select-nft-popup > main > .load-more {
  width: 180px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  border-radius: 18px;
  border: solid 1px #fff;
  line-height: 36px;
  text-align: center;
  color: #fff;
}
.select-nft-popup > .info-form {
  border-top: 1px solid #fff;
}
.select-nft-popup > .info-form > input {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  background-color: transparent;
  font-family: ProximaNovaCond-Regular;
  font-size: 14px;
}
.select-nft-popup > .button-container {
  border-top: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 16px 16px;
  display: flex;
}
.select-nft-popup > .button-container > a {
  flex-grow: 1;
  text-align: center;
  font-family: OCRAStd;
  font-size: 12px;
  padding: 12px 0;
}
.select-nft-popup > .button-container > :first-child {
  border-right: 1px solid #fff;
}
.select-nft-popup > .button-container > :last-child {
  background-color: #55ffb6;
  border-radius: 0 0 16px 0;
}
.loading-display {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-animation: FadeInAnimation 1s;
  -moz-animation: FadeInAnimation 1s;
  animation: FadeInAnimation 1s;
}
.loading-display > .bar {
  width: 70%;
  height: 20px;
  background: linear-gradient(270deg, #5aadfb, #ff0f34, #5aadfb, #ff0f34, #5aadfb);
  background-size: 200% 200%;
  -webkit-animation: LoadingBarAnimation 2s linear infinite;
  -moz-animation: LoadingBarAnimation 2s linear infinite;
  animation: LoadingBarAnimation 2s linear infinite;
}
.loading-display > p {
  margin-top: 24px;
  font-family: OCRAStd;
  font-size: 20px;
  color: #fff;
}
.not-exists {
  text-align: center;
}
.nft-display {
  display: block;
  width: 78px;
  height: 78px;
  object-fit: cover;
  background-color: #fff;
  border-radius: 8px;
}
.pfp-display {
  display: block;
  width: 78px;
  height: 78px;
  border-radius: 39px;
  -webkit-mask-image: url(/images/profile-image-mask.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: url(/images/profile-image-mask.png);
  mask-repeat: no-repeat;
  mask-size: cover;
}
.soul-display {
  display: flex;
  gap: 10px;
  align-items: center;
}
.soul-display > .pfp-container {
  flex-grow: 1;
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}
.soul-display > .pfp-container > .name {
  font-family: OCRAStd;
  word-break: break-all;
}
.soul-display > a {
  border: 1px solid #fff;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.soul-display > a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.soul-display > a.link {
  border: 1px solid #55ffb6;
  color: #55ffb6;
}
.soul-display > a.unlink {
  border: 1px solid #f45131;
  color: #f45131;
}

