.admin-layout {
    min-height    : 100%;
    background    : linear-gradient(#5AADFB, #EA8889);
    display       : flex;
    flex-direction: column;

    >header {
        height         : 100px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        gap            : 40px;

        @media @phone {
            gap: 20px;
        }

        >.menu {
            display: flex;
            gap    : 20px;

            @media @phone {
                gap: 10px;
            }

            >a {
                color        : #fff;
                padding      : 6px 20px;
                border-radius: 16px;

                @media @phone {
                    padding: 6px 14px;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }

                &.on {
                    border: 1px solid #fff;
                }
            }
        }

        >a.save {
            padding         : 6px 20px;
            border-radius   : 16px;
            background-color: #ccc;
            color           : #000;
            font-family     : OCRAStd;
            font-size       : 14px;

            @media @phone {
                padding: 6px 14px;
            }

            &.on {
                background-color: #55FFB6;
            }
        }
    }

    >main {
        flex-grow: 1;

        >.profile {
            position: relative;
            width   : 320px;
            margin  : auto;

            >img {
                display: block;
                margin : auto;
                cursor : pointer;
            }

            >.add {
                position        : absolute;
                top             : 0;
                right           : 130px;
                color           : #ff0f34;
                background-color: #fff;
                border-radius   : 8px;
                width           : 16px;
                height          : 16px;
                display         : flex;
                justify-content : center;
                align-items     : center;
                font-size       : 14px;
                cursor          : pointer;
            }

            >input {
                margin-top      : 10px;
                display         : block;
                width           : 100%;
                background-color: transparent;
                font-family     : OCRAStd;
                font-size       : 16px;
                text-align      : center;
            }

            >textarea {
                margin-top      : 10px;
                display         : block;
                width           : 100%;
                background-color: transparent;
                font-family     : ProximaNovaCond-Light;
                font-size       : 16px;
                text-align      : center;
                border          : none;
                height          : 20px;
            }
        }

        >.content {
            margin-top: 20px;
        }
    }

    >footer {
        height     : 200px;
        padding-top: 50px;

        >img {
            display: block;
            margin : auto;
        }

        >.sns {
            margin-top     : 35px;
            display        : flex;
            justify-content: center;
            gap            : 20px;

            >a {
                color          : #000;
                text-decoration: none;
            }
        }
    }
}